// @import '~bulma-timeline'

$color-white: #ffffff;
$main-color1: #f75f5f;
$main-color2: #2E495E;
$main-color3: #00C48D;
$main-color4: rgb(84, 73, 30);
$background-color: #fffff8;

@import 'buttons';
@import 'tabs';

html {
  font-family: "Lobster", cursive, "Source Sans Pro", -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: $main-color2;
  background-color: $background-color;
}

body {
  font-family: "Lobster";
}

hr{
  border-color: $color-white;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}